.navbar {
    background: #004582 !important;
}
header .btn-primary {
    background-color: #993366 !important;
}
.bg-dark {
    background: #993366 !important;
}
.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;

}

.map {
    height: 450px;
}


